*{
    margin: 20;
    padding: 0;
}
h1{
    text-transform: uppercase;
}


.main{
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

#icon{
    height: 30px;
}

.btn{
    cursor: pointer;
    padding: 5px 10px;
    background-color: rgb(65, 198, 198);
    border-radius: 4px;
}

.a{
   justify-content: space-around;
   padding: 100px;
}

#item{
    display: flex;
    flex-direction: column;
    padding: 20px;
    flex-wrap: wrap;
}

.pa, .ca ,#methi,.po, .ba, .eg, .sw{
    height: 300px;
    width: 230px;
}
#frenchFries{
    height: 300px;
    width:300px;
}


